
.order_header
  display: flex
  justify-content: center
  color: blue
  font-family: "Trebuchet MS", Verdana, sans-serif
  font-size: 1.5rem
  text-transform: capitalize

.header_text   
  border-radius: 8px
  background-color: #ffffff
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.123)
  text-align: center
  margin: 0.5em 0rem 0.5em 0rem 
  padding: 5px 
  width: 100% 
  font-size: 25px

.text_header
  border-radius: 8px
  text-align: left
  margin: 0.5em auto 0.5em 0.5em 
  padding: 5px 
  width: 90% 
  font-size: 30px

.text_style
  margin-left: 5%
  width: 90%
  font-size: 20px
  border-radius: 8px
  text-align: left
  margin: 0.5em auto 0.5em 0em 
  

.container_style
  border-radius: 8px
  background-color: RGB(250, 250, 250, 0.823)
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.123)
  margin: 0.5rem
  padding: 5px 
  display: flex
  justify-content: center

.lot_info_column
  margin: 0.5rem
  border-radius: 8px
  background-color: RGB(250, 250, 250, 0.823)
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.123)
  padding: 5px 
  display: flex
  flex-direction: column

.input_style
  width: 5rem
  height: 1.5rem
  border: 1px solid
  border-radius: 8px
  background-color: #ffffff
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.123)

.description_col_style
  display: flex
  flex-direction: column
  width: 90%
  min-height: 10rem

.date_style
  display: flex
  justify-content: right
  margin-right: 1.5rem

.auction_text_style
  display: flex
  flex-direction: column
  margin-left: 1.5rem

.bid_container
  width: 50%

  border-radius: 8px
  background-color: #ffffff
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.123)
  margin: 0.5em 0.5em 0.5em 0em 
  padding: 5px 

.auction_options_style
  display: flex
  flex-direction: row

.bids_count_style
  margin-left: 1.5rem

.button_style
  background-color: #4CAF50
  border: none
  border-radius: 10px
  color: white
  padding: 15px 32px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px
  margin: 4px 0.5rem
  height: 5rem
  cursor: pointer

.text_input_col
  border-radius: 8px
  background-color: RGB(250, 250, 250, 0.623)
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.123)
  margin: 0.5rem
  padding: 5px 
  
.text_input
  margin: 1rem

.lotview_page_background
  background: url(https://ibrahimlawfirm.com.ng/my_cont/uploads/2020/10/sauerland-4126916_1920-850x400.jpg)
  background-repeat: no-repeat
  background-attachment: fixed 
  background-size: 100% 100%

.description_col_style
  display: flex
  flex-direction: column
  width: 90%

.description_area_style
  margin: 0, auto
  height: 20rem
  resize: none
  border-color: gray
  border-radius: 10px
  background-color: white
  color: black

.center_image_carusel
  display: flex
  align-items: center
  justify-content: center

.price_coefs_style
  background-color: white